@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Savory

<h3>Delete this savory?</h3>
<h4>@Html.DisplayFor(model => model.Name)</h4>
<hr />
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn" />
}

<p>@Html.ActionLink("Savories list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>