@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@using System.Security.Claims
@model List<SweetAndSavory.Models.Savory>

@if (User.Identity.IsAuthenticated)
{
  <h3>Welcome @User.Identity.Name</h3>
  <p>@Html.ActionLink("Add new savory", "Create")</p>
  <hr />
}
<h4>Savories:</h4>
<hr />
@if (Model.Any())
{
  @foreach (Savory savory in Model)
  {
    <p>@Html.ActionLink($"{savory.Name}", "Details", new { id = savory.SavoryId })</p> 
  }
}
else
{
  <p>No savories have been found.</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>