@{
  Layout = "_Layout";
}

<p class="home-link">@Html.ActionLink("Log in", "Index", "Account")</p>
<p class="home-link">@Html.ActionLink("Sweets", "Index", "Sweets")</p>
<p class="home-link">@Html.ActionLink("Savories", "Index", "Savories")</p>
