@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("Log in", "Index", "Account")</p>

<h3>Welcome to the Pierre's Treats!</h3>

<p>@Html.ActionLink("Sweets", "Index", "Sweets")</p>
<p>@Html.ActionLink("Savories", "Index", "Savories")</p>
