@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Sweet

<span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
<span class="links">@Html.ActionLink("Sweets list", "Index")</span>
<hr />
<h3>Delete this sweet?</h3>
<h3 class="user-name">@Html.DisplayFor(model => model.Name)</h3>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn" />
}
