@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@using System.Security.Claims
@model List<SweetAndSavory.Models.Sweet>

@if (User.Identity.IsAuthenticated)
{
  <h4>Welcome</h4>
  <h3>@User.Identity.Name</h3>
  <p class="user-links">@Html.ActionLink("Add new sweet", "Create")</p>
  <hr />
}
<div class="panel panel-warning">
  <div class="panel-heading">
    <h4 class="panel-title">Sweets:</h4>
  </div>
  <div class="panel-body">
    @if (Model.Any())
    {
      @foreach (Sweet sweet in Model)
      {
        <p>@Html.ActionLink($"{sweet.Name}", "Details", new { id = sweet.SweetId })</p> 
      }
    }
    else
    {
      <p>No sweets have been found.</p>
    }
  </div>
</div>

<p>@Html.ActionLink("Home", "Index", "Home")</p>