@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@using System.Security.Claims
@model List<SweetAndSavory.Models.Sweet>

<span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
@if (User.Identity.IsAuthenticated)
{
  <span class="links">@Html.ActionLink("Add new sweet", "Create")</span>
  <hr />
  <h3>User:</h3>
  <h3 class="user-name">@User.Identity.Name</h3>
}
<div class="panel panel-warning">
  <div class="panel-heading">
    <h4 class="panel-title">Sweets:</h4>
  </div>
  <div class="panel-body">
    @if (Model.Any())
    {
      @foreach (Sweet sweet in Model)
      {
        <p class="list">@Html.ActionLink($"{sweet.Name}", "Details", new { id = sweet.SweetId })</p> 
      }
    }
    else
    {
      <p>No sweets have been found.</p>
    }
  </div>
</div>
